<div class="container">

  <h1>Funcionários</h1>

  <div class="funcionario-box">

  <!-- por algum motivo, não altera a rota -->
    <button class="cadastro-btn" routerLink="/cadastro">
      <a href="/cadastro">Cadastrar novo funcionário</a>
    </button>

      <div class="input-box">
        <label>Procurar:</label>
        <input type="text" placeholder="Qual registro está buscando?">
      </div>

  </div>

  <table class="table">

    <thead>

      <tr>

        <th></th>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Departamento</th>
        <th></th>
        <th></th>

      </tr>

    </thead>

    <tbody *ngFor="let funcionario of funcionarios">
      <tr>

        <td>
          <div *ngIf="funcionario.ativo == true; else inativo">
            <span class="dot-active"></span>
          </div>

          <ng-template #inativo>
            <span class="dot-inactive"></span>
          </ng-template>

        </td>
        <td>{{ funcionario.nome }}</td>
        <td>{{ funcionario.sobrenome }}</td>
        <td>{{ funcionario.departamento }}</td>

        <div class="buttons">

          <td>
            <button routerLink="['/editar', funcionario.id]">Editar</button>
            <button routerLink="['/detalhes', funcionario.id]">Detalhes</button>
          </td>

          <td><button class="del-btn">Excluir</button></td>

        </div>

      </tr>
    </tbody>

  </table>
</div>

