<div class="container">

  <h1>Funcionários</h1>

  <div class="funcionario-box">

  <!-- por algum motivo, não altera a rota -->
    <button class="cadastro-btn" routerLink="/cadastro">Cadastrar novo funcionário</button>

      <div class="input-box">
        <label>Procurar:</label>
        <input type="text" placeholder="Qual registro está buscando?">
      </div>

  </div>

  <table class="table">

    <thead>

      <tr>

        <th></th>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Departamento</th>
        <th></th>
        <th></th>

      </tr>

    </thead>

    <tbody>
      <tr>

        <td>
          <span class="dot-active"></span>
          <span class="dot-inactive"></span>
        </td>
        <td>Carlos</td>
        <td>Eduardo</td>
        <td>RH</td>

        <div class="buttons">

          <td>
            <button>Editar</button>
            <button>Detalhes</button>
          </td>

          <td><button class="del-btn">Excluir</button></td>

        </div>

      </tr>
    </tbody>

  </table>
</div>

